[submodule "txai/baselines/WinIT"]
	path = txai/baselines/WinIT
	url = https://github.com/layer6ai-labs/WinIT.git
[submodule "txai/baselines/FIT"]
	path = txai/baselines/FIT
	url = https://github.com/sanatonek/time_series_explainability.git

